<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <%= image_tag('/images/arrow_labs_logo_hero.png', :alt => 'Arrow Labs logo', :class => 'logo_hero') %>

  <p>
    Software development consulting & fixed cost projects
  </p>

  <!--<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>


<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Development</h2>

    <ul>
      <li>Android and iOS development</li>
      <li>Machine Learning solutions</li>
      <li>Javascript MVC frameworks</li>
      <li>Ruby on Rails</li>
      <li>Java</li>
    </ul>

    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>

  <div class="span4">
    <h2>Social</h2>

    <ul>
      <li><a href="https://plus.google.com/107435121441961469058/posts">Google+</a></li>
      <li><a href="http://www.linkedin.com/in/alexei/">LinkedIn</a></li>
    </ul>
  </div>

  <div class="span4">
    <h2>Contact</h2>

    <%= render :partial => "messages/message", :object => @message %>
  </div>
</div>


