<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Arrow Labs</h1>

  <p>
    No project is too small or too complex for us! More than a dozen years of software development experience gives us confidence to tackle anything!
  </p>

  <p>
    Agile development process puts you in control! Experience the piece of mind in the process of achieving your goals!
  </p>
  <!--<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Mobile</h2>

    <p>
      Mobile is the future. Custom Android and iOS development, highly focused on user experience!
    </p>

    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
  <div class="span4">
    <h2>Ruby on Rails</h2>

    <p>
      If you need a modern and dynamic web site, Ruby on Rails is likely the best tool for the job! Let's start the
      conversation!
    </p>

    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
  <div class="span4">
    <h2>Machine Learning</h2>

    <p>
      Machines have always been fast, but now they can also be smart! Let's talk about bleeding edge of smart!
    </p>

    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
  </div>
</div>